@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: bold;
    src: url("/assets/fonts/eot/Vazir-Bold-FD-WOL.eot") format("eot"),
    url("/assets/fonts/woff/Vazir-Bold-FD-WOL.woff") format("woff"),
    url("/assets/fonts/woff2/Vazir-Bold-FD-WOL.woff2") format("woff2"),
    url("/assets/fonts/ttf/Vazir-Bold-FD-WOL.ttf") format("ttf");
}
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("/assets/fonts/eot/Vazir-Thin-FD-WOL.eot") format("eot"),
    url("/assets/fonts/woff/Vazir-Thin-FD-WOL.woff") format("woff"),
    url("/assets/fonts/woff2/Vazir-Thin-FD-WOL.woff2") format("woff2"),
    url("/assets/fonts/ttf/Vazir-Thin-FD-WOL.ttf") format("ttf");
}
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/eot/Vazir-Light-FD-WOL.eot") format("eot"),
    url("/assets/fonts/woff/Vazir-Light-FD-WOL.woff") format("woff"),
    url("/assets/fonts/woff2/Vazir-Light-FD-WOL.woff2") format("woff2"),
    url("/assets/fonts/ttf/Vazir-Light-FD-WOL.ttf") format("ttf");
}
@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: normal;
    src: url("/assets/fonts/eot/Vazir-FD-WOL.eot") format("eot"),
    url("/assets/fonts/woff/Vazir-FD-WOL.woff") format("woff"),
    url("/assets/fonts/woff2/Vazir-FD-WOL.woff2") format("woff2"),
    url("/assets/fonts/ttf/Vazir-FD-WOL.ttf") format("ttf");
}

@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/eot/Vazir-Medium-FD-WOL.eot") format("eot"),
    url("/assets/fonts/woff/Vazir-Medium-FD-WOL.woff") format("woff"),
    url("/assets/fonts/woff2/Vazir-Medium-FD-WOL.woff2") format("woff2"),
    url("/assets/fonts/ttf/Vazir-Medium-FD-WOL.ttf") format("ttf");
}